isSilent=true
activateCommand=activateDcAnon
licenseFile=/dev/shm/license.dat
activationKey={{ file_installation_key }}
installLicenseFileDir=/usr/local/MATLAB/{{ matlab_version }}/
installLicenseFileName=license.dat